/* Orders List Container */
.h_order-list {
  background-color: #ededed;
  padding: 20px;
  margin-top: 20px;
}
.h_order-list h4 {
  color: #604652;
}

/* Table */
.h_custom-sales-table {
  width: 100%;
  min-width: 900px;
  border-collapse: separate;
  border-spacing: 0 8px;
}
.h_custom-sales-table th {
  background-color: #604652;
  color: #fafafa;
  text-align: center;
  padding: 12px;
  border: none;
}
.h_custom-sales-table td {
  /* background-color: #604652; */
  color: #000;
  text-align: center;
  padding: 12px;
}

/* Filter Button */
.h_order-list-filter-btn {
  background-color: #604652;
  color: white;
  border-radius: 6px;
  padding: 5px 12px;
}
.h_order-list-filter-btn:hover {
  background-color: #4e3a43;
  color: #fff;
}

/* Status Badge */
.custom-badge {
  background-color: #fbfbfb;
  color: #604652;
  font-size: 0.85rem;
  font-weight: 600;
  padding: 5px 12px;
  border-radius: 8px;
}

/* Modal */
#orderModal .modal-body p {
  margin-bottom: 8px;
}

/* Responsive */
.table-responsive {
  overflow-x: auto;
}

.orderlist-table-icons {
  background-color: #604652;
  color: #fbfbfb;
  font-size: 18px;
}
.orderlist-table-icons:hover {
  border: 1px solid #ededed;
  background-color: #604652;
  color: #fbfbfb;
}
@media (max-width: 540px) {
  .container-fluid{
    padding: 0 !important;
  }
  .h_order-list {
    margin-top: 0 !important;
  }
}

.h_order-list-filter-btn:disabled{
  background-color: #866c78;
  color: #fff;
}